body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white!important;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: #252525!important;
}

.center {
    text-align: center;
}

.alert {
    text-align: center;
}
.prompt-login {
    display:none;

    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prompts {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;
    text-align: -webkit-center;
    width: 50%;
}

.prompt-welcome {
    display:none;

    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.prompt-welcome > .col-md-6 > h4 {
    margin-top: auto;
    margin-bottom: auto;
}

.prompt-path {
    display:none;
    text-align: center;
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-login {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    display: flex!important;
    justify-content: center;
}
