body{
    background-color: #252525
}
.content-maps {
    height: auto;
}

.navbtn {
    margin-left: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #f6a;
    border-color: #ff4c9c;
    display: block;
}
.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: #ff338e;
    border-color: #cc005b;
}
.btn-primary:hover {
    color: #fff;
    background-color: #ff338e;
    border-color: #ff0f7a;
}